<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{names}}</title>
</head>

<h1>{{names}}</h1>

<body>
    <form action="{{url}}" method="post">

        <input type="submit" name="form.submitted.Update" value="Update User Details" />

        <input type="submit" name="form.submitted.Team"
           value="Team Management"/>

         <input type="submit" name="form.submitted.Billing"
           value="Billing System"/>

    </form>
</body>

</html>