<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{name}}</title>
</head>

<h1>{{name}}</h1>

<h1>Choose My Plan </h1>
<h1> Free </h1>
<h2> $0 </h2>
<h3>per month </h2>
<h2> 3 contact lookups per month </h2>

<input type="submit" name="form.submitted.Free"
           value="Sign Up"/>

<br />
<h1> Bronze </h1>
<h2> $49 </h2>
<h3>per month </h2>
<h2> 170 contact lookups per month </h2>

<input type="submit" name="form.submitted.Bronze"
           value="Sign Up"/>

<br />
<h1> Silver </h1>
<h2> $99 </h2>
<h3>per month </h2>
<h2> 400 contact lookups per month </h2>

<input type="submit" name="form.submitted.Silver"
           value="Sign Up"/>

<br />
<h1> Gold </h1>
<h2> $299 </h2>
<h3>per month </h2>
<h2> 1250 contact lookups per month </h2>

<input type="submit" name="form.submitted.Gold"
           value="Sign Up"/>

</html>