<!DOCTYPE html>
<html lang="en">
<head>
    <title>Edit Team Members</title>
</head>
<body>
    <form action="{{url}}" method="post">
        <label for="username">Username</label>
        <input type="text" id="username" placeholder="username" name="username" />
        <label for="usergroup">Usergroup</label>
        <input type="text" id="usergroup" placeholder="usergroup" name="usergroup" />
        <select name= "editTeamlist">
        	<option  value="admin">Admin</option>
        	<option  value="owner" >Owner</option>
        	<option  value="disable">Disable</option>
        	<option  value="active" selected>Active</option>
        	<option  value="delete">Deleted</option>
        </select>
        <input type="submit" name="form.submit" value="Submit" />
    </form>
</body>
</html>