<!DOCTYPE html>
<html lang="en">
<head>
    <title>Full Contact API</title>
</head>
<body>
    <form action="{{url}}" method="post">
        <label for="api">API</label>
        <input type="text" id="api" placeholder="Email or Domain" name="api" />
        <select name= "apicall">
        	<option  value="email" selected>People API</option>
        	<option  value="emailverification">Email Verify API</option>
        	<option  value="domain">Company API</option>
        </select>
        <input type="submit" name="form.submit" value="Submit" />
    </form>
</body>
</html>