<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{names}}</title>
</head>

<h1>{{names}}</h1>

<body>
    <form action="{{url}}" method="post">
        <label for="email">Send Invites</label>
        <input type="text" id="email" name="email" />
        <br />
        <input type="submit" name="form.submit" value="Send" />
    </form>
</body>

</html>