<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{name}}</title>
</head>

<h1>{{name}}</h1>

<body>



<form action="{{url}}" method="post">




    <input type="submit" name="form.submitted.InviteTeam"
           value="Invite Team Members"/>

    <input type="submit" name="form.submitted.EditTeam"
           value="Edit Team Members"/>




</form>
</body>

</html>