<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{names}}</title>
</head>

<h1>{{names}}</h1>

<body>
    <form action="{{url}}" method="post">
        <label for="firstname">First Name</label>
        <input type="text" id="firstname" name="firstname" />
        <br />
        <br />
        <label for="lastname">Last Name</label>
        <input type="text" id="lastname" name="lastname" />
        <br />
         <br />
        <label for="gender">Gender</label>
        <input type="text" id="gender" name="gender" />
        <br />
         <br />
        <label for="password">Password</label>
        <input type="text" id="password" name="password" />
        <br />
         <br />
        <label for="email">Email</label>
        <input type="text" id="email" name="email" />
        <br />
         <br />
        <label for="language">Language</label>
        <input type="text" id="language" name="language" />
        <br />
         <br />
        <label for="birthday">Birthday</label>
        <input type="text" id="birthday" name="birthday" />
        <br />
         <br />
        <label for="country">Country</label>
        <input type="text" id="country" name="country" />
        <br />
         <br />
        <label for="phone">Phone</label>
        <input type="text" id="phone" name="phone" />
        <br />
         <br />
        <label for="address">Address</label>
        <input type="text" id="address" name="address" />
        <br />
         <br />
        <label for="addressline2">Address Line 2</label>
        <input type="text" id="addressline2" name="addressline2" />
        <br />
         <br />
        <label for="city">City</label>
        <input type="text" id="city" name="city" />
        <br />
         <br />
        <label for="state">State</label>
        <input type="text" id="state" name="state" />
        <br />
         <br />
        <label for="zip">Zip</label>
        <input type="text" id="zip" name="zip" />
        <br />
        <br />
        <input type="submit" name="form.submit" value="Save Changes" />
    </form>
</body>

</html>